<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>¡Server with Express and Socket.io!</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>
    <span id="namespace"></span>
    Chat
  </h1>
  <ul id="chat"></ul>

  <form id="chatForm" action="none">
    <input type="text" id="message" placeholder="Type a message...">
    <input type="button" value="Send" onclick="sendMessage()">
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>